/* Стили для общего оформления */
body {

    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Светло-серый фон f8f9fa */
}

/* Шапка*/
header {
    background-color: #ffffff;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */


    background-color: #ffffff;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Оставляем пространство между логотипом и меню */
}


.logo {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    flex: 1; /* Позволяем логотипу занимать всю доступную ширину */
    text-align: center; /* Центрируем текст */
    margin-top: 25px;
    font-weight: 400
}

.nav-menu {
    position: absolute; /* Размещаем навигацию поверх логотипа */
    left: 0px; /* Положение навигации слева */
    display: flex; /* Для горизонтального отображения меню */
    width: 100%;
    padding-top: 20px; /* Отступ сверху для навигационного меню */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-menu ul {
    display: flex; /* Используем flex для размещения элементов в строку */
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 27px;  /*Отступ слов в шапке*/
}

.nav-menu li {
    margin: 0 15px; /* Отступ между элементами меню */
}

.nav-menu a {
    color: #007BFF;
    font-size: 16px; /* Увеличиваем размер шрифта */
    font-weight: 600;
    text-decoration: none; /* Убираем подчеркивание у ссылки */
    color: #333; /* Цвет текста */
    padding: 10px 0; /* Добавим отступы сверху и снизу для более эстетичного вида */
    border-bottom: 1px solid transparent; /* Тонкая полоска, которая будет видна при наведении */
    transition: border-color 0.3s ease; /* Плавный переход цвета полоски */
}

.nav-menu a:hover {
    color: #0056b3;
    text-decoration: underline;
    text-decoration: none;
    border-bottom: 2px solid #007BFF; /* Цвет полоски при наведении */

}

.nav-left, .nav-right {
    display: flex; /* Используем flex для размещения элементов в строку */
}

.nav-left {
    margin-right: 1200px; /* Отодвигаем левую часть к началу */
}

.nav-right {
    margin-left: 20px; /* Отодвигаем правую часть к концу */
}
/*Полоска под панелью*/
.nav-bottom-divider {
    height: 1px; /* Толщина полоски */
    background-color: #cccccc; /* Цвет полоски */
    width: 95%; /* Чтобы полоски занимали всю ширину контейнера */
    margin-top: 25px;
    margin-left: 50px;
}

.text {
    margin-right: 100px; /* Отступ справа для текста */
    flex: 1; /* Текст занимает оставшееся пространство */
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: left;
    font-weight: 250;
}

.main-text {
     font-size: 22px; /* Увеличьте размер шрифта */
     font-family: 'Montserrat', sans-serif;
     letter-spacing: nullpx;
     word-spacing: nullpx;
     font-weight: 300;
     text-align: center;
     text-decoration: none;
     font-style: normal;
     font-variant: normal;
     text-transform: none;
     margin-top: 40px;
}

.main-text2 {
     font-size: 52px; /* Увеличьте размер шрифта */
     font-family: 'Montserrat', sans-serif;
     letter-spacing: nullpx;
     word-spacing: nullpx;
     font-weight: 600;
     text-align: center;
     text-decoration: none;
     font-style: normal;
     font-variant: normal;
     text-transform: none;
     margin-top: 80px;
}

    .container {
        display: flex; /* Используем Flexbox для выравнивания */
        align-items: flex-start; /* Выравниваем по верхнему краю */
        margin: 0 auto; /* Центрируем контейнер */
        max-width: 1100px; /* Максимальная ширина для контейнера */
        margin-top: 200px;
        flex-wrap: wrap;
}

.gallery {
    display: grid; /* Используем grid для создания сетки */
    grid-template-columns: repeat(2, 200px); /* Два столбца по 200px */
    gap: 10px; /* Установите разумный отступ между изображениями */
    justify-items: center; /* Центрируем изображения по горизонтали */
flex-wrap: wrap;
    flex: 1;
    display: flex;
}

.gallery img {
    width: 100%; /* Делаем изображения адаптивными */
    height: auto; /* Сохраняем пропорции изображений */
    border-radius: 5px; /* Добавляем скругление для изображений (по желанию) */
margin: 10px;
}

.gallery1 {
    display: grid; /* Используем grid для создания сетки */
    grid-template-columns: repeat(2, 400px); /* Два столбца по 200px */
    gap: 10px; /* Установите разумный отступ между изображениями */
    justify-items: center; /* Центрируем изображения по горизонтали */
    width: fit-content; /* Устанавливаем ширину контейнера по содержимому */
    margin: 0 auto; /* Центрируем сам контейнер */
    margin-top: 70px;
}

.gallery1 img {
    width: 100%; /* Делаем изображения адаптивными */
    height: auto; /* Сохраняем пропорции изображений */
    border-radius: 10px; /* Добавляем скругление для изображений (по желанию) */
    margin-bottom: 20px
}

.social-icons {
    display: flex;
    gap: 20px; /* Отступы между иконками */
    margin-top: 20px; /* Отступ сверху */
    justify-content: center;
    display: flex;
}
.social-icons a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #333; /* Цвет иконок */
    font-size: 24px; /* Размер иконок */
}
.social-icons a:hover {
    color: #007bff; /* Цвет иконки при наведении */
}
/*фикс кнопки*/
.custom-button {
    margin: 20px 0;
    padding: 20px 60px !important;
    background-color: #99c2e7 !important;
    color: black !important;
    border: none !important;
    border-radius: 40px !important;
    cursor: pointer;
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif !important;
}
.custom-button:hover {
    background-color: #0056b3 !important;
}
/*Футер*/
.bg-gray-800 {
background-color: #2d3748 /* Темно-серый фон */
}
.text-gray-300 {
    color: #d1d5db; /* Светло-серый текст */
}
.text-gray-400 {
    color: #cbd5e1; /* Еще более светлый серый текст */
}
.max-w-7xl {
    max-width: 80rem; /* Максимальная ширина */
}
.mx-auto {
    margin-left: auto;
    margin-right: auto; /* Центрирование по горизонтали */
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem; /* Горизонтальные отступы */
}
.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem; /* Вертикальные отступы */
}
.border-t {
    border-top-width: 1px; /* Верхняя граница */
}

.border-gray-700 {
    border-color: #4a5568; /* Цвет границы */
}

.mt-8 {
    margin-top: 2rem; /* Отступ сверху */
}

.pt-8 {
    padding-top: 2rem; /* Отступ сверху */
}







/* Мобильное меню */
.mobile-menu-button {
    display: none;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.mobile-menu-button span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
    transition: 0.3s;
}

/* Адаптивная галерея */
.gallery img, .gallery1 img .galleryAs img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Адаптивные стили для кнопки */
button {
    margin: 20px auto;
    padding: 15px 40px;
    font-size: 16px;
}

/* Медиа-запросы для мобильных устройств */
@media screen and (max-width: 768px) {
    /* Стили для смартфонов */
    .header h1 {
        font-size: 24px;
    }

    .content img {
        max-width: 100%;
        height: auto;
    }

    .contact-info ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr); /* Один столбец занимает всю доступную ширину */
        align-items: center;
        margin-top: 300px;
    }

    .gallery img {
        max-width: 100%;
    }
    
    .text {
    margin-right: 0px; /* Отступ справа для текста */
    flex: 1; /* Текст занимает оставшееся пространство */
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: left;
    font-weight: 250;
    
}
    
    
    .text {
        flex: 1;
        padding: 20px;
        position: relative;
        z-index: 1;
    }
    .gallery {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
        order: 1;
        margin-top: 20px
    }
    img {
        margin: 10px;
        z-index: 0;
        position: absolute;
    }




        .container {
            flex-direction: column;
            align-items: center;
            position: relative
        }
        .gallery {
            order: -1;
            margin-top: 20px;
        }





    .header {
        display: none;
    }

    .logo {
        display: block;
    }
    .burger {
        display: block;
        cursor: pointer;
    }



    
}
